:root{
    --grass: rgba(169, 243, 194,.8);
    --fire: rgba(233, 60, 60, 0.931);
    --water: rgba(161, 204, 245, 0.931);
    --bug: rgba(29, 248, 102, 0.8);
    --normal: rgba(238, 224, 224, 0.863);
    --poison: rgba(108, 14, 144, 0.863);
    --electric: rgba(255, 246, 118, 0.972);
    --ghost: rgba(156, 150, 233, 0.739);
    --ground: rgba(245, 110, 77, 0.5);
    --fairy: rgba(243, 141, 238, 0.945);
    --fighting: rgba(179, 194, 243, 0.705);
    --ice: rgb(146, 224, 255);
    --psychic: rgb(174, 9, 250);
    --dragon: rgb(195, 16, 100);
    --rock: rgba(116, 112, 112, 0.644);
    --dark: rgb(82, 80, 80);
    --steel: rgb(183, 207, 201);
    --flying: rgb(215, 246, 239);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-size: 1.6rem;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    width: 100%;
    height: 60px;
}

nav{
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: yellowgreen;
    z-index: 1;
    font-size: 2rem;
}


.menu-button{
    width: 100%;
}
nav .menu{
    position: absolute;
    top: -500px;
    width: 100%;
}

nav .active{
    display: block;
    position: absolute;
    top: 60px;
}
nav span{
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
    color: black;
    font-weight: bolder;
}

nav ul li{
    list-style: none;
    background-color: aqua;
    text-align: center;
    width: 100%;
}

nav ul li a{
    list-style: none;
    background-color: saddlebrown;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 5px 20px;
}

nav ul li a:hover{
    background-color: black;
}

.loading{
    background-image: url('../img/200.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 0 auto;
    min-height: 85vh;
}
section.characters_display{
    width: 100%;
    min-height: 85vh;
    background-color: rgba(181, 186, 195, 0.8);
    padding-top: 30px;
    padding-bottom: 70px;
}

.characters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 85vh;
}

.character-item{
    width: 110px;
    border-radius: 25px;
    border: 5px solid white;
    padding: 10px;
    background-color: ivory;
    margin:0 5px ;
    margin-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: -1px 9px 18px -5px rgba(0,0,0,0.76);
    opacity: .8;
    transition: .5s;
    font-size: 1rem;
}



.character-item.grass,
.character-item-self.grass{
    background-color: var(--grass);
}
.character-item.fire,
.character-item-self.fire{
    background-color: var(--fire);
}

.character-item.water,
.character-item-self.water{
    background-color: var(--water);
}
.character-item.bug,
.character-item-self.bug{
    background-color: var(--bug);
}
.character-item.normal,
.character-item-self.normal{
    background-color: var(--normal);
}
.character-item.poison,
.character-item-self.poison{
    background-color: var(--poison);
}
.character-item.electric,
.character-item-self.electric{
    background-color: var(--electric);
}
.character-item.ghost,
.character-item-self.ghost{
    background-color: var(--ghost);
}
.character-item.ground,
.character-item-self.ground{
    background-color: var(--ground);
}
.character-item.fairy,
.character-item-self.fairy{
    background-color: var(--fairy);
}
.character-item.fighting,
.character-item-self.fighting{
    background-color: var(--fighting);
}
.character-item.ice,
.character-item-self.ice{
    background-color: var(--ice);
}
.character-item.psychic,
.character-item-self.psychic{
    background-color: var(--psychic);
}
.character-item.dragon,
.character-item-self.dragon{
    background-color: var(--dragon);
}
.character-item.rock,
.character-item-self.rock{
    background-color: var(--rock);
}
.character-item.dark,
.character-item-self.dark{
    background-color: var(--dark);
}
.character-item.steel,
.character-item-self.steel{
    background-color: var(--steel);
}
.character-item.flying,
.character-item-self.flying{
    background-color: var(--flying  );
}

.character-item img{
    max-width: 250px;
    width: 100%;
    opacity: .8;
    transition: .2s;
}


.character-item h2{
    color: black;
}
.character-item h2::first-letter{
    text-transform: uppercase;
}

.character-item:hover{
    position: relative;
    bottom: 10px;
   
}

.character-item img:hover{
    opacity: 1;
}
.character-item a{
    text-decoration: none;
}

.types > span{
    text-transform: capitalize;
}

.character-item-self{
    text-transform: capitalize;
    width: 85%;
    margin: 0 auto;
    border-radius: 25px;
    border: 5px solid white;
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.character-item-self img{
    width: 100%;
    max-width: 500px;
}
.character-item-self h3{
    font-size: 1.8rem;
}
.character-item-self span{
    font-size: 1.6rem;
    padding-left: 5px;
    /* padding-top: 2px; */
}

.types-self,
.pokemon-info{
    display: flex;
    padding-left: 10px;
    padding-bottom: 10px;
}

.abilities{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: rgba(16, 92, 235, 0.8);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
}
.footer ul{
    list-style: none;
    text-decoration: none;
}
.footer ul li{
    padding-top:10px;
}
.footer ul a{
    text-decoration: none;
    color:white;
}

@media (min-width:600px){
    .character-item{
        width: 200px;
        font-size: 2rem;
    }
    .character-item-self{
        width: 65%;
    }
    .character-item-self h2{
        font-size: 3rem;
    }
    .character-item-self h3{
        font-size: 2.5rem;
    }
    .character-item-self span{
        font-size: 2.2rem;
    }
}

@media (min-width:1024px){
    .character-item{
        width: 200px;
        font-size: 2rem;
    }
    .character-item-self{
        width: 80%;
    }
    .character-item-self h2{
        font-size: 3rem;
    }
    .character-item-self h3{
        font-size: 2.5rem;
    }
    .character-item-self span{
        font-size: 2.2rem;
    }
    .character-item-self img{
        width: 100%;
        max-width: 500px;
    }
    .character-item-self{
        width: 500px;
    }
}